<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newcode.climb.mapper.Rank_medalMapper" >
  <resultMap id="BaseResultMap" type="cn.newcode.climb.po.Rank_medal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="gold_medal" property="goldMedal" jdbcType="INTEGER" />
    <result column="silver_medal" property="silverMedal" jdbcType="INTEGER" />
    <result column="bronze_medal" property="bronzeMedal" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, gold_medal, silver_medal, bronze_medal
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rank_medal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rank_medal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.newcode.climb.po.Rank_medal" >
    insert into rank_medal (id, uid, gold_medal, 
      silver_medal, bronze_medal)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{goldMedal,jdbcType=INTEGER}, 
      #{silverMedal,jdbcType=INTEGER}, #{bronzeMedal,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.newcode.climb.po.Rank_medal" >
    insert into rank_medal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="goldMedal != null" >
        gold_medal,
      </if>
      <if test="silverMedal != null" >
        silver_medal,
      </if>
      <if test="bronzeMedal != null" >
        bronze_medal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="goldMedal != null" >
        gold_medal+1,
      </if>
      <if test="silverMedal != null" >
        silverMedal+1,
      </if>
      <if test="bronzeMedal != null" >
        bronzeMedal+1,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.newcode.climb.po.Rank_medal" >
    update rank_medal
    <set >
      <if test="goldMedal != null" >
        gold_medal = gold_medal+1,
      </if>
      <if test="silverMedal != null" >
        silver_medal = silver_medal+1,
      </if>
      <if test="bronzeMedal != null" >
        bronze_medal = bronze_medal+1,
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.newcode.climb.po.Rank_medal" >
    update rank_medal
    set uid = #{uid,jdbcType=INTEGER},
      gold_medal = #{goldMedal,jdbcType=INTEGER},
      silver_medal = #{silverMedal,jdbcType=INTEGER},
      bronze_medal = #{bronzeMedal,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="seletcRank" parameterType="cn.newcode.climb.po.Rank_medal" resultType="cn.newcode.climb.vo.Rank_medalVo">
      SELECT user.username,user.id,user_inf.head_img imgPath,
      <if test="Rank_medal.goldMedal!=null">
        rank_medal.gold_medal AS  `medal`
      </if>
      <if test="Rank_medal.silverMedal!=null">
        rank_medal.silver_medal AS `medal`
      </if>
      <if test="Rank_medal.bronzeMedal!=null">
        rank_medal.bronze_medal AS  `medal`
      </if>
    FROM `user`,rank_medal,user_inf
    WHERE user.id = rank_medal.uid AND user_inf.uid = `user`.id
    ORDER BY
    <if test="Rank_medal.goldMedal!=null">
      rank_medal.gold_medal
    </if>
    <if test="Rank_medal.silverMedal!=null">
      rank_medal.silver_medal
    </if>
    <if test="Rank_medal.bronzeMedal!=null">
      rank_medal.bronze_medal
    </if>
    DESC
    LIMIT #{startPos},#{pageSize}
  </select>
  <select id="selectCount" parameterType="java.lang.String" resultType="java.lang.Integer">
    SELECT count(#{medal}) FROM rank_medal
  </select>
  <select id="selectMyRank" parameterType="cn.newcode.climb.po.Rank_medal" resultType="java.lang.Integer">
    SELECT
    u.rank ranking
    FROM
     (SELECT
      id,uid,(@ranknum:=@ranknum+1)
      AS
      rank
      FROM
      rank_medal,
      (SELECT
       (@ranknum :=0) ) b
        ORDER BY
        <if test="Rank_medal.goldMedal!=null">
          rank_medal.gold_medal
        </if>
        <if test="Rank_medal.silverMedal!=null">
          rank_medal.silver_medal
        </if>
        <if test="Rank_medal.bronzeMedal!=null">
          rank_medal.bronze_medal
        </if>
        )u
        WHERE u.uid = #{Rank_medal.uid}
  </select>
</mapper>