<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newcode.climb.mapper.Rank_ageMapper" >
  <resultMap id="BaseResultMap" type="cn.newcode.climb.po.Rank_age" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, year
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rank_age
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rank_age
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.newcode.climb.po.Rank_age" >
    insert into rank_age (id, uid, year
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{year,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.newcode.climb.po.Rank_age" >
    insert into rank_age
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="year != null" >
        year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.newcode.climb.po.Rank_age" >
    update rank_age
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.newcode.climb.po.Rank_age" >
    update rank_age
    set uid = #{uid,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--分页查询年龄排行榜-->
  <select id="seletcAgeRank" resultType="cn.newcode.climb.vo.Rank_ageVo">
    SELECT user.id,username,`year`
    FROM rank_age,`user`
    WHERE user.id = rank_age.uid
    ORDER BY rank_age.year
    LIMIT #{startPos},#{pageSize}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(*) from rank_age
  </select>
</mapper>