<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newcode.climb.mapper.RockWallMapper" >
  <resultMap id="BaseResultMap" type="cn.newcode.climb.po.RockWall" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hid" property="hid" jdbcType="INTEGER" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, hid, creater, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rockWall
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectWalls" resultType="cn.newcode.climb.po.RockWall" parameterType="java.lang.Integer" >
    select
    *
    from rockWall
    where hid = #{hid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rockWall
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.newcode.climb.po.RockWall" >
    insert into rockWall (id, name, hid, 
      creater, createTime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{hid,jdbcType=INTEGER}, 
      #{creater,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.newcode.climb.po.RockWall" >
    insert into rockWall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="hid != null" >
        hid,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hid != null" >
        #{hid,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.newcode.climb.po.RockWall" >
    update rockWall
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hid != null" >
        hid = #{hid,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.newcode.climb.po.RockWall" >
    update rockWall
    set name = #{name,jdbcType=VARCHAR},
      hid = #{hid,jdbcType=INTEGER},
      creater = #{creater,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>