<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.newcode.climb.mapper.User_fansMapper" >
  <resultMap id="BaseResultMap" type="cn.newcode.climb.po.User_fans" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="fens" property="fens" jdbcType="INTEGER" />
    <result column="attention" property="attention" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, fens, attention
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_fans
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_fans
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.newcode.climb.po.User_fans" >
    insert into user_fans (id, uid, fens, 
      attention)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{fens,jdbcType=INTEGER}, 
      #{attention,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.newcode.climb.po.User_fans" >
    insert into user_fans
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="fens != null" >
        fens,
      </if>
      <if test="attention != null" >
        attention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="fens != null" >
        #{fens,jdbcType=INTEGER},
      </if>
      <if test="attention != null" >
        #{attention,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.newcode.climb.po.User_fans" >
    update user_fans
    <set >
      <if test="fens != null" >
        fens = #{fens},
      </if>
      <if test="attention != null" >
        attention = #{attention},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.newcode.climb.po.User_fans" >
    update user_fans
    set uid = #{uid,jdbcType=INTEGER},
      fens = #{fens,jdbcType=INTEGER},
      attention = #{attention,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectFriends" resultType="cn.newcode.climb.vo.FriendsVo">
    SELECT  id,any_value(gender) gender ,any_value(head_img) headImg,any_value(clubName) clubName,any_value(nickName) nickName,any_value(fens) fens,any_value(attention),any_value(`limit`) `limit` FROM
    (
	SELECT  user_fans.attention id,user_inf.gender gender,user_inf.head_img head_img,club.name clubName,user_inf.nickName nickName,user_fans.attention attention,user_fans.fens fens,user_limit.`limit` `limit`
	FROM user_fans,user_inf,user_limit,(`user` LEFT JOIN club_member ON user.id = club_member.member) LEFT JOIN club ON club.id = club_member.cid
	WHERE user_fans.attention = user_inf.uid
	AND user_fans.uid = #{uid}
    AND user.id = user_fans.attention
    AND user.id = user_limit.uid
	<if test="name!=null">
     AND ( user_inf.nickName LIKE concat(concat('%',#{name}),'%') OR user.username LIKE concat(concat('%',#{name}),'%'))
    </if>
	UNION all
	SELECT  user_fans.fens id,user_inf.gender gender,user_inf.head_img head_img,club.name clubName,user_inf.nickName nickName,user_fans.attention attention,user_fans.fens fens,user_limit.`limit` `limit`
	FROM user_fans,user_inf,user_limit,(`user` LEFT JOIN club_member ON user.id = club_member.member) LEFT JOIN club ON club.id = club_member.cid
	WHERE user_fans.fens = user_inf.uid
	AND user_fans.uid = #{uid}
    AND user.id = user_fans.fens
    AND user.id = user_limit.uid
    <if test="name!=null">
      AND ( user_inf.nickName LIKE concat(concat('%',#{name}),'%') OR user.username LIKE concat(concat('%',#{name}),'%'))
    </if>
    )a
    GROUP BY a.id
  </select>
  <select id="selectCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM user_fans,user_inf,user
    WHERE user_fans.uid = #{uid}
    <if test="name!=null">
      AND user_fans.fens = user_inf.uid OR user_fans.attention = user_inf.uid
      AND user_inf.uid = user.id
      AND ( user_inf.nickName LIKE concat(concat('%',#{name}),'%') OR user.username LIKE concat(concat('%',#{name}),'%'))
    </if>
  </select>
  <select id="selectFriendsWithFight" parameterType="java.lang.Integer" resultType="cn.newcode.climb.vo.FriendsVo">
    SELECT  id,any_value(gender) gender ,any_value(clubName) clubName,any_value(nickName) nickName,any_value(fens) fens,any_value(attention) attention FROM
    (
    SELECT  user_fans.attention id,user_inf.gender gender,club.name clubName, user_inf.nickName nickName,user_fans.attention attention,user_fans.fens fens
    FROM user_fans,user_inf,club,club_member,user
    WHERE user_fans.attention = user_inf.uid
    AND user_fans.attention = club_member.member
    AND club_member.cid = club.id
    AND user_fans.uid = #{uid}
    AND user.id = user_fans.attention
    UNION all
    SELECT  user_fans.fens id,user_inf.gender,club.name,user_inf.nickName,user_fans.attention attention,user_fans.fens fens
    FROM user_fans,user_inf,club,club_member,user
    WHERE user_fans.fens = user_inf.uid
    AND user_fans.fens = club_member.member
    AND club_member.cid = club.id
    AND user_fans.uid = #{uid}
    AND user.id = user_fans.fens
    )a
    GROUP BY a.id
  </select>
  <select id="verify" parameterType="cn.newcode.climb.po.User_fans" resultType="java.lang.Integer">
     SELECT id FROM  user_fans WHERE  uid = #{uid} AND attention = #{attention}
  </select>
  <select id="selectCondition" parameterType="cn.newcode.climb.po.User_fans" resultType="java.lang.Integer">
    SELECT id FROM user_fans WHERE
    <if test="fens!=null">
        uid = #{uid} AND fens = #{fens}
    </if>
    <if test="attention!=null">
        uid = #{uid} AND attention = #{attention}
    </if>
  </select>
</mapper>